@model Vaccination_Management_System_VerDotNetCore.Models.Entities.Thongtintiemchung

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Thongtintiemchung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaytiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaytiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaytiemtieptheo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaytiemtieptheo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhtrangbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrangbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Makh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Makh)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manv)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mavc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mavc)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Mathongtin" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
