@model IEnumerable<Vaccination_Management_System_VerDotNetCore.Models.Entities.Thongtintiemchung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngaytiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaytiemtieptheo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinhtrangbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Makh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mavc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytiemtieptheo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtrangbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Makh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mavc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mathongtin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mathongtin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mathongtin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
